<%# add navigation links to this file %>
<li><%= link_to 'About', page_path('about') %></li>
<li><%= link_to 'Apps', apps_path %></li>
<li><%= link_to 'Devices', devices_path %></li>
<li><%= link_to 'Messages', messages_path %></li>
